@import '../app/variables.scss';

.message {
  width: 300px;
  color: $purple;
  display: flex;
  margin-bottom: 20px;
  text-align: start;
  align-items: end;

  &--isMy {
    flex-direction: row-reverse;
    text-align: end;
  }

  &__text {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0;
    padding-right: 20px;
    min-height: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid $black;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__date {
    font-size: 11px;
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
  }
}
